<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simplenet.vipclient">

    <application
        android:allowBackup="true"

        android:icon="@drawable/ic_casher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_casher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.simplenet.vipclient.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.simplenet.vipclient.AddOrder"></activity>
        <activity android:name="com.simplenet.vipclient.ModifyMenu"></activity>
        <activity android:name="com.simplenet.vipclient.LogOrdersList"></activity>
    </application>

</manifest>